/SQLiteRecettes/dist/
/azerty/nbproject/private/
/CalculWS_Client_Application/nbproject/private/
/CalculWS_Client_Application/build/
/CalculWS_Client_Application/dist/
/countryInfoservice/nbproject/private/
/countryInfoservice/build/
/testclientws/nbproject/private/
/testclientws/build/
/testws/nbproject/private/
/testws/build/
/testws/dist/
/WebServiceRest/nbproject/private/
/WebServiceRest/build/
/WebServiceRest/dist/
/WSRestGestionListe/nbproject/private/
/WSRestGestionListe/build/
/WSRestGestionListe/dist/